.fiche-client {
display:flex;
}

.formulaire-client{
  padding-right:30px;
  border-right: 1px solid grey;
}

.historique-client {
  margin-left:30px;
}

.atableH{
  font-weight:bold;
}

.service-venir{
  background-color: green;
}

.atable {
  margin-top:30px;
}

.nom-client {
  padding-bottom:30px;
  border-bottom: 1px solid grey;
  margin-bottom:10px;

}
