// Specific CSS for your home-page
.banner{
  background-size: cover;
  background-position: center;
  padding: 200px 0;
}

.banner h1 {
  color: white;
  font-size: 100px;
}

.banner  h4 {
  color: white;
  opacity: .7;
  font-size: 25px;
}



.container {
  margin: 0;
  font-family: Open Sans;
  text-align: center;
  border-radius: 5px;
}




