<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<h3>Hello !!!</h3>

<div class=“banner” style=“background-image: url(images/background.png);“>
   <div class=“container”>
     <h1>Le Wagon brings tech skills to creative people!</h1>
     <p>Change your life and learn to code at one of our campuses around the world.</p>
     <a class=“btn-primary” href=“#”>Apply now!</a>
   </div>
 </div>
