.banner {
  height: 900px;
  background-size: transparent;
  text-align: center;
  padding: 190px;
  color: white;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.banner h1 {
  font-size: 80px;
  font-weight: 900px;
  font-family: 'Rubik', sans-serif;
  text-align: center;
  letter-spacing: 6px;
}

.banner h4 {
  font-size: 25px;
  margin-bottom: 2em;
}
