.btn-primary {
  display: inline-block;
  background-color: #1EDD88;
  padding: 16px 32px;
  border-radius: 4px;
  color: white;
  margin-left: 56px;
  margin-right: 56px;
}

.btn-secondary {
  border: 1px solid #1EDD88;
  padding: 8px 16px;
  border-radius: 32px;
  color: #1EDD88;
  margin-left: 56px;
  margin-right: 56px;
}


.homepage a {
  font-size: 24px
}
