.btn-primary {
  display: inline-block;
  background-color: rgb(27, 72, 103);
  padding: 16px 32px;
  border-radius: 4px;
  color: white;
  margin-left: 56px;
  margin-right: 56px;
}

.btn-primary:hover {
  display: inline-block;
  background-color: rgb(62, 146, 204);
  padding: 16px 32px;
  border-radius: 4px;
  color: white;
  margin-left: 56px;
  margin-right: 56px;
}


.btn-secondary {
  border: 1px solid rgb(27, 72, 103);
  background-color:white;
  padding: 8px 16px;
  border-radius: 32px;
  color: rgb(27, 72, 103);
  margin-left: 56px;
  margin-right: 56px;
}
.btn-secondary:hover {
background-color:rgb(27, 72, 103);
border: 1px solid white;
 color: white;
}

.btn-session {
  width: 160px;
  height: 40px;
  background-color: white;
  border-radius: 10px;
  margin-right: -45px;
  margin-top: 5px;

}

.btn-password {
  width: 350px;
  background-color: #1EDD88;
  border-radius: 10px;
}

.btn-google  {
  width: 150px;
  height: 40px;
  background-color: #496B9C;
  border-radius: 7px;
  margin: -60px;
  color: black;
  margin-left: 200px;
  margin-bottom: -20px;
  line-height: 14px;
  padding: 6px 10px 9px;
  padding-right: 4px;
  padding-left: 4px;
  text-decoration: none;
  text-align: center;


}

.container-bt {
  justify-content: space-between;
  align-items: center;

}


.forgot-session {
  margin: -40px;
}
