.card-home img {
  width: 90px;
  justify-content: center;
  text-align: center;
  position: left;
  margin: 10em auto 10px auto;
  margin-top: 6px;
  padding: 10px;
}

.card-home p {
  color: white;
  padding: 10px;
  line-height: 1.5;
  font-size: 25px;
  font-weight: lighter;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  width: 400px;
}


.card-home {

  // display: flex;
  // background-color: rgba(27, 72, 103,0.7);
  // width: 450px;
  // height: 100px;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  // border-radius: 5px;
  // border-radius: 50px;

}


.cards-home {
  display: flex;
  justify-content: space-around;
}
