.book-a-table {

 margin:0 auto;
  }

.flexbox {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.table th, .table td {
    padding: 0.75rem;
    vertical-align: top;
    border-radius: 0px;
}

.table-dark th, .table-dark td, .table-dark thead th {
    border-color: #454d5500;
}

.schedule {

 margin:0 auto;
 padding-bottom: 10px;
background-color:white;
border-radius:5px;

.OverSchedule {
  text-align: center
}

// .Facebook {
//  background-color: rgb(66, 103, 178);
// }
// .LaFourchette {
//  background-color: rgb(88, 148, 66);
// }
// .WebSite {
//  background-color: rgb(64, 89, 107);
// }
// .Phone {
//  background-color: rgb(255, 112, 88);
// }
// .Other{
//  background-color: rgb(230, 26, 73);
// }
.booking:hover{

 background-color: rgba(62, 146, 204, 0.4);
 cursor: pointer;
}
// .formulaire {
//   height: 300px;

// }

.reservation{


}
.booking {
  background-color: rgba(62, 146, 204, 0.1);
  border-radius:30px;
  border-bottom: 5px solid white;
  margin-bottom:5px;
}
.new {
  border-right:5px solid rgba(51, 178, 78, 1);
}
.book-a-table {
  background-color: white;
}

.reservation-head{
  display: inline-block;
  color: rgb(64, 89, 107);
  font-size: 16px;
  font-style: light;
  float: left;

}

.nb-clients {
  border-radius: 50%;
  text-align: center;
  justify-content:center;
  font-size:14px;
  background-color:rgb(62, 146, 204);
  font-weight: bold;
  color:rgb(249, 250, 245);
  position:relative;
  top:-10px;
  left:-10px;
  width:20px;
  height:20px;
}

.nb-dispo {
  color: rgb(27, 72, 103);
  height:25px;
  margin: 0;
  padding: 5px;
}

.dispo {

}

.icone-client{
    height:20px;
    width:20px;
}
.block-client {
  display:flex;
  position:relative;
  display-content: space-between;
}
.sous-block-client {
  display:flex;
  position:relative;
}

.restaurant-capacity td {
  padding: 5px;
}
.sous-block-dispo {
  vertical-align: middle;
  width: auto;
}

.reservation-admin{
  display:inline-block;
  border-left:1px grey solid;
  float: right;
}
.block-admin {
  display:flex;
}
.source {
margin-right:10px;
margin-left:5px;
}

.edit {
  margin-right:10px;
  margin-left:5px;
}
.reservation-icons {
  display:flex;
  position:relative;
  top: 0px;
}
.client-rating {

  width: 60px;

}

.info {
  margin-left: 20px;
  margin-bottom: 5px;
}


.reservation-content{
  display:flex;
  position:relative;
  top:0px;

}
.content{
  margin-left:20px;
}
.header-table{
  background-color: rgb(30, 221, 136);
    font-size: 20px;
  font-weight:bold;

}

.header-table-soir {
  background-color: rgb(2, 161, 249);
  font-size: 20px;
  font-weight:bold;
}
.reservation-content{
  display:flex;
}

.restaurant-capacity {
  background-color: white;
  color: rgb(62, 146, 204);
  font-weight: bold;

}

.page-header {
  display:flex;
  background-color:white;
  opacity:0.6;
}

.collapsible-body{
  display:flex;
  background-color:white;
  opacity:0.6;
}

 td {

 width: 50px;
 height:40px;
 border-right:1px solid rgba(27, 72, 103,0.2);
 border-radius: 0;
 padding: 5px 15px;


}
tr {
border:0px;
}
tbody {
  tr:hover {

}
}
 th  {

}
}

.iconeBoudin {
  img {
    width: 30px;
  }
}

.agendaMidi {
  border: 10px;
}

.agendaSoir {
  border: 10px;
}

.agendaSoir { tbody {
  tr:hover {background-color:rgba(2, 161, 249,0.1)}
  .booking:hover{
 background-color: rgba(2, 161, 249,0.3);
}
.nb-clients {
  border-radius: 50%;
  text-align: center;
  justify-content:center;
  font-size:14px;
  background-color:rgb(2, 161, 249);
  font-weight: bold;
  color:black;
  position:relative;
  top:-10px;
  left:-10px;
  width:20px;
  height:20px;
}
}}



.book-a-table {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    grid-gap: 10px;
    border-radius: 4px;
    width: auto;
}

.atableH {
  background-color:rgba(27, 72, 103,0.6);
  color:white;
  font-weight:bold;
}
